/*
  VARIABLES
  ------------------------------------
*/

/* --- Sizes --- */

$base-text-size: 0.75em;
$base-line-height: 1.4;


/* --- Colours --- */

$base-text-color: #888;
$base-grey: #555;
$base-link-color: #fff;
$base-heading-color: #fff;


/* --- Fonts --- */

$base-font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
$heading-font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;