/*
  VARIABLES
  ------------------------------------
*/

/* --- Sizes --- */

$base-text-size: 0.75em;
$base-line-height: 1.5;


/* --- Colours --- */

$base-text-color: #fff;


/* --- Fonts --- */

$base-font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
$heading-font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;