<!DOCTYPE html>

<html dir="ltr" lang="en-gb">
	<head>
		<meta charset="utf-8" />
		<title>Image Mangle - Base64 image encoding</title>

		<link rel="dns-prefetch" href="//fonts.googleapis.com" />

		<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />

		<script data-main="js/main" src="js/libs/require.js"></script>
	</head>

	<body>
		<div class="app wrap">
			<noscript>You need to enable JS for this app.</noscript>
		</div>

		<script type="text/template" id="upload-tmpl">
			<div class="upload-field">
				<p class="upload-field__text">Drag some files in here</p>
			</div>
		</script>

		<script type="text/template" id="output-tmpl">
			<p class="output">
				<textarea class="data-url"><%= dataUrl %></textarea>
				<ul>
					<li><strong>Name:</strong> <%= name %></li>
					<li><strong>Type:</strong> <%= type %></li>
					<li><strong>Size:</strong> <%= size %></li>
				</ul>
				<p><img src="<%= dataUrl %>" width="30%" alt="" /></p>
			</p>
		</script>
	</body>
</html>