<!DOCTYPE html>

<html dir="ltr" lang="en-gb">
	<head>
		<meta charset="utf-8" />
		<title>Image Mangle - Base64 image encoding</title>

		<link rel="dns-prefetch" href="//fonts.googleapis.com" />

		<link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />

		<script data-main="js/main" src="js/libs/require.2.1.8.min.js"></script>
	</head>

	<body>
		<div class="wrap">
			<noscript>You need to enable JS for this app.</noscript>
			
			<div class="app">
				<div class="main-content"></div>
			</div>
		</div>

		<script type="text/template" id="upload-tmpl">
			<section class="upload-field">
				<p class="upload-field__text gamma">Drag some files in here</p>
			</section>
		</script>

		<script type="text/template" id="img-output-tmpl">
			<section class="img-output">
				<header class="img-output__header cf">
					<ul class="img-output__meta">
						<li><%= formattedFileSize %></li>
						<li><%= type %></li>
					</ul>

					<h2 class="img-output__name"><%= name %></h2>
				</header>

				<textarea class="data-url"><%= dataUrl %></textarea>
			</section>
		</script>
	</body>
</html>